* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 20px auto;
}
section {
  margin: 10px 0;
}
input,
textarea {
  padding: 5px;
}
.redTXT {
  color: red;
}
.greenTXT {
  color: green;
}
button {
  padding: 3px 8px;
  background-color: aliceblue;
}
